.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.width-sm {
    width: 50vw;
}

.gap-sm {
    gap: 5px;
}

.gap-md {
    gap: 20px;
}

.padding-sm {
    padding: 10px;
}
.padding-xl {
    padding: 50px;
}
.padding-top {
    padding-top: 12vh;
}

.text-h1 {
    font-size: 2em;
    color: var(--text-color);
}

.text-p {
 text-align: center;
 color: var(--accent-color);
 line-height: 2em;
}

.text-h2 {
    color: var(--accent-color);
    margin: 0;
}